@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

button {
    border: 0;
}

/* 네비게이션 바 */
nav {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1000; /* 제일 위에 배치 */

    transition: 0.3s ease-in-out; /* 전환 효과 */
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    padding: 12px;
    /* 네비바 크기 조정 */
    width: 75%;
    margin: auto;
}

#navbar-logo img {
    width: 140px;
    height: 70px;
}

#navbar-links {
    display: flex;
    place-items: center;
    flex-direction: row;
}

#navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#navbar-links li {
    margin-left: 60px;
}

#navbar-links li a {
    text-decoration: none;
    color: rgb(64, 64, 64); /* 검정색 보다 더 부드럽게 */

    font-size: 16px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased; /* font를 부드럽게, 매끄럽게 */
    transition: 0.3s ease-in-out; /* 이름에 마우스를 올리면, 링크가 짙은 회색에서 회색으로 바뀌는 전환 */
}

#navbar-links ul a:hover {
    color: rgb(65, 105, 255);
}

#navbar-tools {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

#navbar-tools a {
    display: flex;
    place-items: center;
    text-decoration: none;
}

#navbar-tools span {
    background-color: red;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    place-items: center;

    /* span 위치 변경 */
    position: relative;
    bottom: 8px;
    right: 10px;
}

#wishlist-link {
    margin-left: 15px;
}

/* product-page-body */

#product-page-body {
    padding: 0 100px; /* 상/하, 좌/우 */
}

#product-top-container {
    padding-top: 125px;
    /* nav는 position: fixed;로 공중에 떠있음, 맨 위로 올라가니까. 윗부분이 밑에 깔림 */
    padding-bottom: 50px;

    display: flex;
    justify-content: center;
}

#product-top-wrapper {
    background-color: #edf3fb;
    width: 100%;
    height: 320px;
    overflow: hidden;
    padding: 100px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
}

#product-top-text-section {
    width: 52%;
}

#product-top-text-section h1 {
    color: rgb(64, 64, 64);
    font-size: 23px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

#product-top-text-section h2 {
    color: rgb(64, 64, 64);
    font-size: 45px;
    font-weight: 500;
}

#product-top-text-section p {
    color: rgb(137, 137, 137);
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 25px;
    line-height: 1.7; /* 라인간격 넓혀 줌 */
}

.blue-button {
    background-color: #3b71dc;
    color: white;
    font-size: 16px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    transition: 0.3s ease-in-out;
}

.blue-button:hover {
    background-color: rgb(102, 136, 240);
}

#product-top-text-section button {
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 17px;
}

#product-top-image-section {
    background-color: #c7d5f1;
    width: 420px;
    height: 420px;
    border-radius: 100%;
    /* margin-top: 10px; */

    display: flex;
    justify-content: center;
    place-items: center;
    box-shadow: 0 20px 50px rgb(0, 0, 0, 0.2);
}

#product-top-image-section img {
    height: 82%;
    width: auto;
}

#product-top-image-section:hover {
    animation: shake 0.5s linear infinite;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}