@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

button {
    border: 0;
}

/* 네비게이션 바 */
nav {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1000; /* 제일 위에 배치 */

    transition: 0.3s ease-in-out; /* 전환 효과 */
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    padding: 12px;
    /* 네비바 크기 조정 */
    width: 75%;
    margin: auto;
}

#navbar-logo img {
    width: 140px;
    height: 70px;
}

#navbar-links {
    display: flex;
    place-items: center;
    flex-direction: row;
}

#navbar-links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#navbar-links li {
    margin-left: 60px;
}

#navbar-links li a {
    text-decoration: none;
    color: rgb(64, 64, 64); /* 검정색 보다 더 부드럽게 */

    font-size: 16px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased; /* font를 부드럽게, 매끄럽게 */
    transition: 0.3s ease-in-out; /* 이름에 마우스를 올리면, 링크가 짙은 회색에서 회색으로 바뀌는 전환 */
}

#navbar-links ul a:hover {
    color: rgb(65, 105, 255);
}

#navbar-tools {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

#navbar-tools a {
    display: flex;
    place-items: center;
    text-decoration: none;
}

#navbar-tools span {
    background-color: red;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    place-items: center;

    /* span 위치 변경 */
    position: relative;
    bottom: 8px;
    right: 10px;
}

#wishlist-link {
    margin-left: 15px;
}

/* product-page-body */

#product-page-body {
    padding: 0 100px; /* 상/하, 좌/우 */
}

#product-top-container {
    padding-top: 125px;
    /* nav는 position: fixed;로 공중에 떠있음, 맨 위로 올라가니까. 윗부분이 밑에 깔림 */
    padding-bottom: 50px;

    display: flex;
    justify-content: center;
}

#product-top-wrapper {
    background-color: #edf3fb;
    width: 100%;
    height: 320px;
    overflow: hidden;
    padding: 100px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
}

#product-top-text-section {
    width: 52%;
}

#product-top-text-section h1 {
    color: rgb(64, 64, 64);
    font-size: 23px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

#product-top-text-section h2 {
    color: rgb(64, 64, 64);
    font-size: 45px;
    font-weight: 500;
}

#product-top-text-section p {
    color: rgb(137, 137, 137);
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 25px;
    line-height: 1.7; /* 라인간격 넓혀 줌 */
}

.blue-button {
    background-color: #3b71dc;
    color: white;
    font-size: 16px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    transition: 0.3s ease-in-out;
}

.blue-button:hover {
    background-color: rgb(102, 136, 240);
}

#product-top-text-section button {
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 17px;
}

#product-top-image-section {
    background-color: #c7d5f1;
    width: 420px;
    height: 420px;
    border-radius: 100%;
    /* margin-top: 10px; */

    display: flex;
    justify-content: center;
    place-items: center;
    box-shadow: 0 20px 50px rgb(0, 0, 0, 0.2);
}

#product-top-image-section img {
    height: 82%;
    width: auto;
}

#product-top-image-section:hover {
    animation: shake 0.5s linear infinite;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Product Category Section */

#product-category-container {
    margin-top: 45px;
}

#product-category-text {
    display: flex;
    place-items: center;

    margin-bottom: 45px;
}

.blue-line {
    width: 15px;
    height: 40px;
    margin-right: 15px;
    background-color: #3b71dc;
    border-radius: 20px;

    display: inline-block;
    /*
        인라인 요소를 블록 계열로 변경 (너비와 높이 적용 가능해짐)
        span 테그는  기본적으로 인라인(Inline) 요소가 기본값이라서
        width, height를 지정해도 적용이 안됨. 그래서 display: inline-block;을 해줘야 함.
    */
}

.section-category-text {
    color: rgb(64, 64, 64);
    font-size: 25px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

#product-category-wrapper {
    display: flex;
    justify-content: space-between;

    width: 100%;
    flex-wrap: wrap; /* 화면이 작아지면, 자동으로 줄바꿈 */
}

.product-category {
    width: 375px;
    height: 100px;
    overflow: hidden;

    display: flex;
    flex-direction: row; 
    justify-content: start; /* 왼쪽에서 부터 시작 */
    /* 중앙 수평으로 맞춤 */
    justify-content: center;
    place-items: center;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 0 30px rgb(129, 129, 129, 0.1); /* 그림자 효과 */
    transition: 0.3s ease-in-out; /* 마우스 위로 올렸을 때, 효과 주기위해서 */
}

.product-category:hover {
    transform: scale(1.1); /* 1.1배 확대 */
    cursor: pointer;
}

.product-category-image-section {
    background-color: rgb(231, 238, 252);

    display: flex;
    justify-content: center;
    place-items: center;

    padding: 10px;
    width: calc(120px - 20px);
    /* 패딩의 왼쪽과 오른쪽을 빼준다. (calc(140px - 20px) = 120px) */
    height: calc(100% - 20px);
    /* 높이값을 100%로 설정, 위에서 100px로 설정했기 때문에, 100px이 된다. (calc(100% - ) = 80px) */
}

.product-category-image-section img {
    max-width: 97%;
    max-height: 97%;
    /* 박스 크기의 97%로 설정, 이미지가 박스 크기를 넘어가지 않게 하기 위해서 */
    object-fit: contain; /* 이미지 비율 유지 */
}

.product-category-desc-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    height: 100%;
    flex-grow: 1; /* 글자 뒤에 남는 나머지 공간을 차지하게 하기 위해서 flex-grow: 1;을 사용 */
}

.product-category-desc-section .product-category-type {
    color: rgb(64, 64, 64);
    font-weight: 500;
    font-size: 18px;
}

.product-category-desc-section .product-category-number {
    color: rgb(137, 137, 137);
    font-size: 15px;
}

/* product-section */
.product-section {
    margin-top: 80px;
    text-align: center; /* 화면 중앙 */
}

.product-section-top-container {
    /* 카테고리 제목과 슬라이드 버튼 */
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 양쪽 끝으로 배치, 택스트와 버튼 */
    place-items: center;
}

.section-category-container {
    /* 카테고리와 제목 */
    display: block; /* 위, 아래로 배치 */
}

.section-category-type {
    display: flex; /* 왼쪽을 blue-line과 붙이기 위해서 flex 사용 */
    place-items: center; /* 수직 중앙 정렬 */
}

.product-section-top-container h1 {
    color: rgb(64, 64, 64);
    font-size: 40px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;

    margin-bottom: 40px;
}

.slideshow-buttons-container {
    display: flex;
    flex-direction: row;
}

.slideshow-button {
    background-color: rgb(237, 237, 237);
    border-radius: 50%;
    width: 60px;
    height: 60px;

    /* <, > 정중앙 배치 */
    display: flex;
    justify-content: center;
    place-items: center;

    box-shadow: 0 2px 15px rgba(71, 71, 71, 0.1);
}

.prev-button {
    margin-right: 15px;
}

/* 카드 */
.product-cards-container {
    width: 100%;
    display: flex;
    justify-content: start; /* 왼쪽에서 부터 시작 */

}

.product-cards-container ul {
    display: flex;
    flex-direction: row;  /* 한 줄로 정렬 */
    flex-wrap: wrap;
    /* 플렉스 아이템들이 플렉스 컨테이너의 한 줄을 초과할 경우 넘치지 않고 감싸서(wrap) 다음 줄로 넘어가도록 설정 */

    list-style: none;
}

.product-cards-container .product-card {
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(71, 71, 71, 0.1);
    text-align: center;
    overflow: hidden;    
    transition: 0.8s ease-in-out; /* 마우스 위로 올렸을 때, 효과 주기위해서 */

    width: 260px;
    height: 379px;
}

.product-cards-container .product-card:hover {
    transform: scale(1.1);
}

.product-image-container {
    background-color: rgb(231, 238, 252);
    padding: 20px;
    height: 198px;

    display: flex;
    justify-content: center;
    place-items: center;

    position: relative; /* 하트 이미지를 중간에서 위로 옮기기 위해서 */
    /*
        이렇게 position: relative;를 해주면, 하트 이미지의 위치를 상대적으로 바꿀 수 있음.
        (absolute로 바꿔도 됨), 상대적 위치의 기준을 product-image-container로 지정
        항상 product-image-container의 오른쪽 위에 하트가 위치하게 됨
    */
}

.product-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-image-container .heart-button {
    background-color: white;
    color: rgb(64, 64, 64);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    place-items: center;
    padding: 8px;
    cursor: pointer;

    position: absolute; /* 하트 이미지를 중간에서 위로 옮김 */
    top: 10px;
    right: 10px;
    /*
        위치는 상대적인 값이기 때문에 마우스를 올리기 전에서 문서의 오른쪽 위에 위치함.
        그리고, 마우스를 카드 위에 올리면, 하트가 카드 오른쪽 위로 올라오게 됨
        카드 위에서 마우스가 없어지면, 하트는 다시 문서의 오른쪽 위로 돌아감
    */
    
}

/* 하트 버튼 색깔 바꾸기 */
.product-image-container .heart-button svg {
    fill: none;           /* 내부 바탕색: 흰색 */
    stroke: rgb(64, 64, 64) !important;          /* 테두리 색상: 회색 */
    stroke-width: 0.5px;                /* 테두리 두께 */
    stroke-linejoin: round !important; /* ★ 모서리를 둥글게 연결 (찌그러짐 방지) */
    stroke-linecap: round !important;  /* ★ 선의 끝모양을 부드럽게 처리 */
}

/* .product-image-container .heart-button svg path {
    실제 하트 외곽선(면의 테두리)에 stroke를 적용하고 두께 설정
    stroke: rgb(64, 64, 64);
    stroke-width: 0.5px; 부트스트랩 아이콘은 면이라 두께를 얇게 주어야 이쁩니다 
} */

/* 하트 버튼 색깔 바꾸기 */
/* .product-image-container .heart-button svg {
    HTML 내부의 fill="currentColor" 속성을 무시하도록 강제 설정
    fill: red !important; 
} */

.product-text-container h1 {
    color: #333;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 10px;
}

.product-text-container p {
    color: rgb(102, 102, 102);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.product-text-container .blue-button {
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;

}